[submodule ".registry"]
	path = .registry
	url = https://github.com/kiendang/kiendang.r-universe.dev
	branch = HEAD
[submodule "rdocsyntax"]
	path = rdocsyntax
	url = https://github.com/kiendang/rdocsyntax
